.container {
  display: flex;
  background-color: #fff;
  border-bottom: solid 1px #c5c5c5;
  margin-bottom: 12px;
  height: 108px;
  overflow: hidden;
}

.cover {
  width: 75px;
}

.info {
  padding: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons button {
  margin: 5px;
  padding: 7px;
}

.buttons img {
  width: 17px;
  height: 17px;
}
