.container {
  display: flex;
  background-color: #fff;
  border-bottom: solid 1px #c5c5c5;
  margin-bottom: 12px;
  min-height: 108px;
  overflow: hidden;
}

.cover {
  width: 75px;
}

.info {
  padding: 10px;
}

.delete-button {
  margin: 10px;
  margin-left: auto;
}

.delete-button img {
  width: 17px;
  height: 17px;
}
